.cart {
  position: relative;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;

  .popup {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    right: 4px;
    top: -6px;
    position: absolute;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    span {
      text-align: center;
      font-weight: 600;
    }
  }

  img {
    width: 26px;
  }

  span {
    font-size: 14px;
    color: #ffffff;
  }
}
