<footer class="site-footer">
	<div class="footer-container">
		<div class="footer-contact">
			<div class="contact-item">
				<h5>Sobre Nosotros</h5>
				<p class="small"><strong>Colombiana de Comercio S.A.</strong><br/><strong>NIT:</strong> 890.900.943-1</p>
				<p class="small">Dirección de notificación judicial: Calle 11 No. 31 A – 42 - Bogotá.</p>
			</div>

			<div class="contact-item center">
				<h5>Email</h5>
				<p class="small">sugerencias@alkosto.com</p>
			</div>

			<div class="contact-item right">
				<h5>Venta telefónica</h5>
				<p class="small"><strong>Servicio al cliente:</strong> (601) 407 3033</p>
				<p class="small"><strong>Venta:</strong> (601) 364 9734 - (601) 746 8001 - 018000 180222</p>
			</div>
		</div>

		<div class="footer-divider" aria-hidden></div>

		<div class="footer-links">
			<div class="links-col">
				<h6>Nuestra Compañía</h6>
				<ul>
					<li>Quiénes somos</li>
					<li>Nuestras tiendas</li>
					<li>Nuestras marcas</li>
					<li>Contáctenos</li>
					<li>Trabaja con nosotros</li>
				</ul>
			</div>

			<div class="links-col">
				<h6>Compras en línea</h6>
				<ul>
					<li>Preguntas frecuentes</li>
					<li>Pago seguro</li>
					<li>Métodos de envío</li>
					<li>Medios de pago</li>
				</ul>
			</div>

			<div class="links-col">
				<h6>Servicios</h6>
				<ul>
					<li>Instalaciones</li>
					<li>Agendar servicio de instalación</li>
					<li>Garantía extendida</li>
					<li>Garantías y servicios</li>
				</ul>

				<h6>Legales</h6>
				<ul>
					<li>Todo lo que debes saber sobre televisión digital terrestre</li>
					<li>Superintendencia de Industria y Comercio - SIC</li>
					<li>Términos y Condiciones Ofertas de Medios de pago</li>
				</ul>
			</div>

			<div class="links-col">
				<h6>Políticas</h6>
				<ul>
					<li>Términos y condiciones</li>
					<li>Política de privacidad</li>
					<li>Política de cookies</li>
					<li>Política de cambios y devoluciones</li>
				</ul>
			</div>
		</div>

		<div class="footer-divider" aria-hidden></div>

		<div class="footer-bottom">
			<div class="left ">Síguenos en Redes Sociales!</div>
		</div>
	</div>
</footer>
